@import url("https://fonts.googleapis.com/css2?family=Acme&family=DM+Sans&family=Poppins&family=Quicksand&family=Roboto:wght@100;400&display=swap");

.PersonalizedPeriodKitSectionContainer {
  width: 100vw;
  margin: 0;
  background: #f66e6e;
  padding-bottom: 32px;
}

.heading {
  font-family: "Reptile";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 134.8%;
  margin: 0px;
  margin-left: 22px;
  padding-top: 26px;
  color: rgba(255, 255, 255, 0.8);
}
.image {
  margin: 0;
  width: 100vw;
  height: 250px;
}
.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 206.5%;
  margin: 0px;
  margin-left: 22px;
  padding-top: 26px;
  color: rgba(255, 255, 255, 0.8);
}
.createBoxContainer {
  background: #000000;
  border-radius: 27px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 32px;
}
.createBoxContainerText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 206.5%;
  color: #ffffff;
  padding-left: 26px;
}
