
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins&family=Quicksand&family=Roboto:wght@100;400&display=swap');

.bgContainer {    
    width: 375px;
    height: 1725px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #FFF6FB 0%, #E7F6FC 33.33%, rgba(213, 224, 255, 0) 100%);
}
.aboutDiana {
    position: absolute;
    width: 183px;
    height: 30px;
    left: 96px;
    top: 146px;
    
    font-family: 'Reptile', "Acme";
    font-style: normal;
    font-weight: 200;
    font-size: 33px;
    line-height: 30px;
    
    color: #1B1B50;
    
}
.plateformTagline {
    position: absolute;
width: 290px;
height: 23px;
left: 42px;
top: 213px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #1B1B50;

}
.plateformDescription{
    position: absolute;
width: 308px;
height: 75px;
left: 33px;
top: 273px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 179%;
color: #000000;
}

.breakingLine{
    position: absolute;
width: 297px;
height: 0px;
left: 46px;
top: 374px;

border: 1px solid #000000;
}

.philosophyTitle{
    position: absolute;
width: 177px;
height: 33px;
left: 99px;
top: 406px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* identical to box height */


color: #1B1B50;
}
