@import url("https://fonts.googleapis.com/css2?family=Acme&family=DM+Sans&family=Poppins&family=Quicksand&family=Roboto:wght@100;400&display=swap");

.NavbarContainer{
    background: rgba(255, 255, 255, 0.47);
box-shadow: 0px 4px 14px rgba(24, 160, 251, 0.12);
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 0px 0px 14px 14px;
display: flex;
align-items: center;
justify-content: space-between  ;
}
@media screen and (max-width:375px){
    .NavbarContainer{
      width: 375px;
    }
  }
  @media screen and (min-width:769px) {
    .NavbarContainer{
      width: 769px;
    }
  }
.Icon{
    color: #000000;
    margin: 16px;
}