@import url('https://fonts.googleapis.com/css2?family=Acme&family=DM+Sans&family=Poppins&family=Quicksand&family=Roboto:wght@100;400&display=swap');

.ConsultingSectionContainer {
  width: 100vw;
  margin: 0;
  background: linear-gradient(
    270deg,
    #dadae4 0.25%,
    #eeeef0 24.33%,
    #f8f8f8 52.08%,
    #fefefe 100%
  );
  padding: 0px;
}

.heading {
  font-family: 'Reptile';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 134.8%;
  color: #000000;
  margin: 0px;
  margin-left: 22px;
  padding-top: 32px;
}
.text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 206.5%;
  margin: 0px;
  margin-left: 22px;
  margin-right: 10px;
  padding-top: 26px;
  color: rgba(0, 0, 0, 0.8);
}
.rowContainer {
  position: relative;
  display: flex;
  justify-content: center;
  
}
.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 15px;
  background: linear-gradient(
    288.62deg,
    #6e8cf6 42.36%,
    rgba(110, 213, 246, 0.93) 115.74%
  );
  box-shadow: 0px 2px 16px rgba(71, 222, 255, 0.33);
  border-radius: 70px;
  margin: 0;
  margin-top: 32px;
  width: 80%;
  max-width: 300px;
  margin-bottom: 24px;
}
.button {
  border: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  background-color: transparent;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.image {
  margin: 0;
  width: 100%;
  margin-right: 15px;
  max-width: 370px;
}

